@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0A;
  --foreground: #171717;
}

@layer base {
  h1 {
    @apply text-[34px];
    @apply font-worksans;
    
  }
  h2 {
    @apply text-xl;
  }
}

@font-face {
  font-family: 'NeueMont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/PPNeueMontreal-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'WorkSansBook';
  font-display: swap;
  src: url(./fonts/PPNeueMontreal-Book.woff2) format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: NeueMont;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
